{% extends 'base.html' %}
{% load static %}


{% block headers %}
<link rel="stylesheet" href="{% static 'css/office_home.css' %}">
<script src="{% static 'js/home_switcher.js' %}"></script>

<script src="{% static 'js/morris.min.js' %}"></script>
<script src="{% static 'js/raphael.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Supply Office</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Log out</a></li>
    </ul>
  </nav>
</div>
<div class="container">
  <div class="greet">
    <h2>Welcome .....</h2>
  </div>
  <div class="tabs">
  <hr>  
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><a href="#" id="track">Track</a></li>
    <li role="presentation"><a href="#" id="allocate">Allocate</a></li>
    <li role="presentation"><a href="#" id="approve">Approve</a></li>
    <li role="presentation"><a href="#" id="report">Reported Issues</a></li>
  </ul>
  <hr>
</div>
<div class="viewport">
  <div id="graph" >
    <div class="tile" >
        <h2 class="tile-title">Graph</h2>
        <div class="p-10">
            <div id="line-chart" class="main-chart"></div>
        </div>  
    </div>
  </div>
  <div class="ent allocate" id="m_allocate">
    <button class="btn btn-default">Allocate for this month</button>
  </div>
  <div class="ent approve" id="m_approve">
    <form>
      <div class="input-group">
	<input type="text" class="form-control" placeholder="shop id" name="shop_id" id="shop_id">
      </div>
      <button type="button" class="btn btn-default" id="approve_shop">Submit</button>
      <div class="result">
	<div id="json_res">
	  
	</div>
	<button class="btn btn-default">Finish</button>
      </div>
    <form>
  </div>
  <div class="ent report" id="m_report">
    reports
  </div>
</div>
</div>

<script type="text/javascript">
  new Morris.Line({
  element:'line-chart',
  data:[
  { year: '1', value: 20 },
  { year: '2', value: 10 },
  { year: '3', value: 5 },
  { year: '4', value: 5 },
  { year: '5', value: 20 }
  ],
  xkey: 'day',
  ykeys: ['value'],
  labels: ['Value']
  });
</script>
{% endblock %}
